<div class="table-section">
  <div class="subject-heading" *ngIf="displayTrendingSubjectsBook">
    Top {{ booksList.length }} book{{ booksList.length > 1 ? "s" : "" }} on {{ subjectName }}
  </div>
  <ng-container>
    <div *ngIf="!displayTrendingSubjectsBook">
      <h3 class="total-books">All ({{ totalRecords }}) </h3>
    </div>
    <div class="table-wrapper">
      <table class="table-view" mat-table>
        <thead>

          <tr class="table-row">
            <th class="header">Title and Sub Title</th>
            <th class="header">Edition Count</th>
            <th class="header">Author</th>
            <th class="header">First Publish Year</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="row-data" *ngFor="let book of booksList">
            <td>
              <a href="https://openlibrary.org{{ book.key }}" target="_blank">{{ book?.title }}</a>
            </td>
            <td>{{ book?.edition_count || "-" }}</td>
            <td>
              <div *ngIf="displayTrendingSubjectsBook" class="author">
                {{ book.authors && book.authors.length > 0 ? book.authors[0].name : "Unknown" }}
              </div>
              <div *ngIf="!displayTrendingSubjectsBook" class="author">
                {{ book.author_name }}
              </div>
            </td>
            <td>{{ book.first_publish_year || "-" }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </ng-container>
</div>